@media screen and (max-width: 1200px) {
	.container {
		max-width: 960	px;
	}
}

	@media screen and (max-width: 1000px) {
		.container {
			max-width: 750px;
		}
	}

	@media screen and (max-width: 780px) {
		.container {
			max-width: 510px;
		}
	}

	@media screen and (max-width: 540px) {
		.container {
			max-width: 420px;
		}
	}

	@media screen and (max-width: 450px) {
		.container {
			max-width: 100%;
		}
	}

	@media screen and (max-width: 640px){
		.card-carousel{
			margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
		}
	} 	