@media screen and (max-width: 1300px) {
	.container {
		max-width: 960px;
	}
}

@media screen and (max-width: 990px) {
	.container {
		max-width: 750px;
	}
}

@media screen and (max-width: 780px) {
	.container {
		max-width: 510px;
	}
}

@media screen and (max-width: 540px) {
	.container {
		max-width: 420px;
	}
}

@media screen and (max-width: 450px) {
	.container {
		max-width: 100%;
	}
}
/* effect nav */
@media screen and (max-width: 640px) {
	.card-carousel {
		margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
	}
}

/* nav */
@media screen and (max-width: 1200px) {
	.business {
		margin-right: 100px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1124px) {
	nav {
		width: 100%;
	}

	.business {
		margin-right: 100px;
	}
}

@media screen and (max-width: 1100px) {
	nav {
		margin: 0 auto;
	}
}

@media screen and (max-width: 1124px) {
	header {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1124px) {
	.boost {
		flex-wrap: wrap-reverse;
	}
}

@media screen and (max-width: 1124px) {
	.shopping-online {
		flex-wrap: wrap;
		margin-top: -100px;
	}
}

@media screen and (max-width: 1124px) {
	.fees {
		flex-wrap: wrap-reverse;
	}
}

@media screen and (max-width: 1124px) {
	.mony {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1124px) {
	.free {
		font-size: 20px;
	}
}

@media screen and (max-width: 1124px) {
	.zen {
		flex-wrap: wrap;
		margin-top: -100px;
	}
}

