html,
body {
  height: 100%;
	font-family: system-ui;

}

* {
  padding: 0px;
  box-sizing: border-box;
}

.cotainer-1{
  overflow: hidden;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: rgba(0, 0, 0, .1);
  
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  color: var(--neutral-06, #414536);
  font-family: 'PT Root UI', sans-serif;     
  font-size: 18px;
  line-height: 28px;
  min-height: 100vh;
  
}

.container {
  max-width: 1290px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.dn {
  display: none;
}

section {
  padding: 100px 0;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #BE963F;
}

.head_logo {
  padding: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@import url('https://fonts.cdnfonts.com/css/pt-root-ui');




nav{
  position: relative;
  display: flex;
  gap: 30px;  
  padding: 15px 20px;
}

nav a{
  position: relative;
  color: #999;
  text-decoration: none;
  font-size: 20px;
  z-index: 2;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  transition: 2.5s;
}
nav a.active{
  color: #222327;
}
a{
  text-decoration: none;
}
#indicator{
  position: absolute;
  height: 75px;
  width: 150px;
  background: #29fd53;
  z-index: 1;
  transition: 0.5s;
  display: none;
}
#indicator::before{
  content: '';
  position: absolute;
  left: -30px;
  width: 50px;
  height: 15px;
  background: #29fd53;
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: 15px 30px #29fd53, 5px 60px #29fd53, -15px 15px #374da6, -10px 45px #a8d15b;
}
#indicator::after{
  content: '';
  position: absolute;
  right: -30px;
  width: 50px;
  height: 15px;
  background: #29fd53;
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: 5px 30px #29fd53, -15px 60px #29fd53, 15px 15px #bf6f6f, 10px 45px #862d6d;
}
#indicator.change::before{
  left: -10px;
  box-shadow: -15px 30px #29fd53, -5px 60px #29fd53, -10px 15px #c9c2cb, -20px 45px #002bd7;
}
#indicator.change::after{
  right: -20px;
  box-shadow: 10px 30px #29fd53, 20px 60px #29fd53, 15px 15px #1f8291, 25px 45px #858f39;
}

.card-carousel{
	--card-width: 80%;
	--card-max-width: 280px;
	--card-height: 350px;
	--carousel-min-width: 600px;
	z-index: 1;
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: var(--card-height);
	min-width: var(--carousel-min-width);
	transition: filter .3s ease;
  margin-bottom: 60px;
}
.card-carousel.smooth-return{
	transition: all .2s ease;
}
.card-carousel .card {
	background: whitesmoke;
	width: var(--card-width);
	max-width: var(--card-max-width);
	text-align: center;
	padding: 1em;
	min-width: 250px;
	height: var(--card-height);
	position: absolute;
	margin: 0 auto;
	color: rgba(0, 0, 0, .5);
	transition: inherit;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 1em;
	filter: brightness(.9);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card.highlight{
	filter: brightness(1)
}
.card:nth-of-type(1) .image-container{
	background-image: url(.//img/one.jpg
  );
}
.card:nth-of-type(2) .image-container{
	background-image: url(.//img/fees.jpg)
}
.card:nth-of-type(3) .image-container{
	background-image: url(.//img/Quick.jpg)
}
.card:nth-of-type(4) .image-container{
	background-image: url(.//img/personal-2.jpg)
}
.card:nth-of-type(5) .image-container{
	background-image: url(.//img/boost.jpg)
}

.card:nth-of-type(6) .image-container{
	background-image: url(.//img/zen.jpg)
}

.card:nth-of-type(7) .image-container{
	background-image: url(.//img/shooping.jpg)
}



.image-container{
	width: 16em;
	height: 16em;
	position: relative;
	background-size: cover;
	margin-bottom: 0.5em;
	border-radius: 30px 30px 30px ;
	padding: 2em;
	-webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);

}
.image-container::after{
	content: "";
	display: block;
	width: 120%;
	height: 120%;
	border-radius: 100%;
	position: absolute;
	top: calc(-10% - 3px);
	left: calc(-10% - 3px);
}


.menu li:last-child a {
  margin: 0;
}

.menu a:hover {
  background: #cdc5c2;

}



/* zen */
.zen_txte {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
  width: 451px;
  margin-bottom: 10px;
}

.zen_txter {
  width: 366px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
  margin-bottom: 10px;
}

.zen_txters {
  width: 447.5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
  margin-bottom: 10px;
}

.card_s {
  background: url(../img/zen.jpg);
}

/* free */
.sec_sub {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 5px;
}

.free_txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: 584px;
  margin-left: 27%;
  margin-bottom: 30px;
}

.main_btn {
  display: flex;
  justify-content: center;
  padding: 46px;
}



.btn {
  transition: 1s;
  border-radius: 148px;
  min-width: 131px;
  min-height: 40px;
  font-weight: 700;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  cursor: pointer;
  position: relative;
  top: 32px;
}

.btn::before {
  content: '';
  border-radius: 148px;
  min-width: calc(130px + 12px);
  min-height: calc(40px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 3s;
}



.btn:hover,
.btn:focus {
  transform: translateY(-10px);
  background: #00FFCB;
  transition: 1.5s;
}



.btn:hover::after,
.btn:focus::after {
  animation: none;
  display: none;
}




.frey_img {
  width: 310px;
  height: 160px;
  display: inline-flex;
}

.free_ic {
  width: 250px;
  margin: 0 40px 40px;
  background: #000000;
  border-radius: 20px;
  box-shadow: 0px 2.97872px 59.57446px 0px rgba(226, 23, 23, 0.08);
  height: 110px;
  display: flex;
  align-items: center;
}

.free_ic:hover {
  background: #00FFCB;
  transition: 1s;
  transform: rotate(-15deg);
}

.free_ice {
  width: 250px;
  margin: 0 40px 40px;
  background: #000000;
  border-radius: 20px;
  box-shadow: 0px 2.97872px 59.57446px 0px rgba(226, 23, 23, 0.08);
  height: 110px;
  display: flex;
  align-items: center;
}

.free_ice:hover {
  background: #00FFCB;
  transition: 1s;
  transform: rotate(15deg);
}







.sec_tit_sub {
  width: 436px;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  margin-bottom: 22px;
}

.zen_txte_wer {
  width: 475px;
  margin-bottom: 33px;
}


/* fees  */

.card_fees {
  background: url(../img/fees.jpg);
  width: 585px;
  height: 422px;
  flex-shrink: 0;
}

.fees_txter {
  width: 478px;
  width: 395px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
}

.fees_txter-2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
}

.se_sub-tit {
  width: 379px;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
}

.fees_right {
  width: 480px;
  height: 253px;
  flex-shrink: 0;
}

/* quick */

.quick_img {
  display: inline-flex;
  padding: 40.406px 121px 6.594px 0px;
  align-items: flex-start;
  gap: 20px;
  width: 200%;
}

.quick_ic {
  border: 0;
  background: #000000;
  border-radius: 4px;
  box-shadow: 0 5px 0 #000000;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}



.quick_ic:active {
  box-shadow: 0 2px 0 #ffffff;
  transform: translateY(3px);
}

/* footer */
footer {
  background: #fff;
}

.footer_copy {
  color: #AAA;
  width: 836px;
  font-size: 12px;
  line-height: 15.6px;
  padding: 74px;
  margin-right: 9%;
}

.footer_big {
  padding-bottom: 100px;
  color: #222;
}


.footer_nav {
  color: #222;
  padding: 47px;
}



.footer_tit {
  color: #222;
  font-size: 16px;
  font-weight: 400;
}



.foot {
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 32.67px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: -0.4px;
  left: 22.63%;
  right: -10.22%;
  top: 10.34%;
  bottom: 12.07%;
  line-height: 29px;
}



.footer_txt {
  color: #ADB29E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 293px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_img {
  width: 334px;
  height: 23px;
  margin-left: 6%;
}

/* boost */

.boost_right {
  width: calc(50% - 45px);
  padding: 150px;
}

.boost_txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
  width: 439px;
  margin-bottom: 12px;
}

.boost_txt-2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
  width: 445px;
}

.moneyt_img{
  background-color: #FFF;
  border-radius:50%;
  padding: 150px 120px;
  width: 600px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.ghj {
  transition: 2s; /* Время эффекта */
 }
 .ghj:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
 }

.boost_img{
  background-color: #FFF;
  border-radius: 100px;
  padding: 150px 100px;
  width: 600px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);

}

.sec_sub-tit {
  width: 379px;
  font-size: 36px;
  font-weight: 400;
}

/* money */

.fast_icon {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.fast_icon i {
  background: url(../img/icons/personal-3.png);
  width: 29px;
  height: 29px;
}



.fast_icon span {
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}



.money_ic {
  width: 169px;
  height: 50px;
}


.moneyt_right {
  width: calc(50% - 45px);
  padding: 150px;
}

.moneyt_txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
  width: 439px;
  margin-bottom: 40px;

}

.sec_tit {
  font-size: 42px;
  font-weight: 400;
  line-height: 50.4px;
  width: 450px;
  margin-bottom: 20px;
} 

.money_img {
  margin-left: 12%;
  height: 100%;
}

.zen_txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
  width: 465px;
}

.shop_img {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  margin-right: 12%;

}

.shop_ice {
  width: 90px;
  height: 58px;
  transition: 1s;
}

.shop_ice:hover {
  transform: scale(1.2);
}

.shop_ic {
  width: 115px;
  height: 58px;
  transition: 1s;
}

.shop_ic:hover {
  transform: scale(1.2);
}

/* btneet */

.btneer {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 300px;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn-two {
  color: #000000;
  transition: 1s;
  position: relative;
  margin-left: 155%;
}

.bnhn {
  display: block;
  position: absolute;
  width: 100%;
}

.btn-two::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.8s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 200px;
}

.btn-two::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.8s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 200px;

}

.btn-two:hover::before {
  transform: rotate(-25deg);
  background-color: rgba(0, 0, 0, 0);
}

.btn-two:hover::after {
  transform: rotate(25deg);
  background-color: rgba(0, 0, 0, 0);
}

.ji {
  flex-direction: column;
  display: inline-flex;
  gap: 20px;
}

/* блюр */
.blur-image {
  filter: blur(5px);
  /* Размытие изображения */
  transition: 1s;
  /* Время перехода */
}

.blur-image:hover {
  filter: blur(0);
  /* Отменяем размытие */
}

/*pleorader*/
#preloader_malc {
  position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 99;
}

#preloader_malc div {
  background-color: fff;
  width: 260px;
}
 
